/* main.css */
@font-face {
    font-family: 'Luminari';
    font-style: fantasy;
    font-weight: normal;
    src: local('Luminari'), url('Luminari-Regular.woff') format('woff');
}

body {
    background-color: #cccccc;
    margin: 0;
    padding: 20px;
    text-align: center;
	min-height: 100vh;
    font-family: 'Luminari';
    text-decoration: none;
    
}

h1 {
    color: #0d0d0d;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;   
}
body h1 {
  text-align: center
}
.form-control {
    background: #cc8800;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7e8d1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    font-size: 18px;
    color: #5a4a32;
}

form:before {
    content: '';
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(#b2945b, #d9c8a9);
    z-index: -1;
    border-radius: 8px;
}

label {
    margin-top: 10px;
    display: block;
    color: #0d0d0d;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #b2945b;
    border-radius: 4px;
    background-color: #faf8f5;
}

input[type="submit"] {
    background-color: #b2945b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Luminari';
}

input[type="submit"]:hover {
    background-color: #9c7e4e;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #ffffff; /* Couleur du texte */
    background-color: #b2945b; /* Couleur de fond spécifiée */
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer; /* Change le curseur au survol pour indiquer qu'il s'agit d'un bouton cliquable */
}


a:hover {
    text-decoration: underline;
}
